<launch>
  <!-- 初始化一些参数 -->
  <arg name="pipeline" default="ompl" />  <!-- 设置规划引擎为OMPL -->
  <arg name="db" default="false" />  <!-- 默认不启用数据库 -->
  <arg name="db_path" default="$(find ros_arm_moveit_config)/default_warehouse_mongo_db" />  <!-- 设置数据库路径 -->
  <arg name="debug" default="false" />  <!-- 默认不在调试模式 -->
  <arg name="load_robot_description" default="true"/>  <!-- 默认加载或覆盖机器人描述 -->
  <arg name="moveit_controller_manager" default="fake" />  <!-- 设置控制器管理器为'fake' -->
  <arg name="fake_execution_type" default="interpolate" />  <!-- 在仿真模式下设置执行方式为'interpolate' -->
  <arg name="use_gui" default="true" />  <!-- 是否使用图形界面 -->
  <arg name="use_rviz" default="true" />  <!-- 是否使用RViz -->

  <!-- 当控制器管理器设置为'fake'时执行以下组 -->
  <group if="$(eval arg('moveit_controller_manager') == 'fake')">
    <!-- 发布假的关节状态 -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg use_gui)">
      <rosparam param="source_list">[move_group/fake_controller_joint_states]</rosparam>
    </node>
    <!-- 如果启用了GUI，使用joint_state_publisher_gui发布关节状态 -->
    <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg use_gui)">
      <rosparam param="source_list">[move_group/fake_controller_joint_states]</rosparam>
    </node>
    <!-- 发布机器人链路的tf变换 -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />
  </group>
  <!-- 运行move_group节点，并配置其参数 -->
  <include file="$(dirname)/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="moveit_controller_manager" value="$(arg moveit_controller_manager)" />
    <arg name="fake_execution_type" value="$(arg fake_execution_type)"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="pipeline" value="$(arg pipeline)"/>
    <arg name="load_robot_description" value="$(arg load_robot_description)"/>
  </include>
  <!-- 运行Rviz并加载默认配置 -->
  <include file="$(dirname)/moveit_rviz.launch" if="$(arg use_rviz)">
    <arg name="rviz_config" value="$(dirname)/moveit.rviz"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- 如果启用了数据库，启动mongodb -->
  <include file="$(dirname)/default_warehouse_db.launch" if="$(arg db)">
    <arg name="moveit_warehouse_database_path" value="$(arg db_path)"/>
  </include>

</launch>
